

1. combine the date and times so i could order everything. merge 2 cols.
2. divide by mode, create 2 dfs
3. create a function that that gets all the metrics for a given time
4. loop over the 3 different times, caling the function that gets the percentages for each measure, for each mode
5. append results from each time to a list for the mode
6. write the 2 lists of modes to their own row in csv

“yourfirstname_lastname_Project1.zip".
○ Do not create an additional folder; just zip the files directly.